:root {
    --padding-container: 100px;
}

/* Generics */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Utils */

.flex {
    display: flex;
}

.justify_between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}


/* Header */


header {
    background-color: #255ee9;
    /* min-height: 80px; */
    padding-top: 20px; 
}

.header-link>li{
    padding: 0 40px;
    display: inline-block;
}
/* header>div {
    background-color: #daa520;
    padding: 10px;    
    border: 1px dashed black;
} */

header>div>button {
    border: none;
    background-color: white;
    padding: 7px 15px;
    border-radius: 25px;
}

/* Jumbotron */
.back_central_container {
    background-image: url(../img/jumbo.png);
    padding: var(--padding-container);
    min-height: 600px;
    background-size: cover; 
    
}
.central_container {
    max-width: 50%;
    /* min-height: 200px; */
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    /* background-color: #ee82ee;
    border: 1px dashed black; */
}

.central_container>* {
    margin-bottom: 20px;
    color: white;
    font-size: 1.5rem;
}
.central_container>h1 {
    font-size: 4rem;
}

.j_buttons {
    justify-content: space-evenly;
}

.button {
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
}

.open-browser {
    color: white;
    background-color: #23272a;
}

/* images and text */
.backg_white {
    background-color: white;
    padding: var(--padding-container); 
}
.photo>img {
    /* max-width: 100%;
    background-size: contain; */
    width: 100%;
}
.photo {
    text-align: left;
    width: 70%;
    /* height: 400px; */
    /* background-color: #1e90ff; */
    /* border: 1px dashed black; */
}

.backg_grey img {
    float: right;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.text {
    width: 30%;
    padding-top: 30px;
    /* height: 400px; */
    /* background-color: #ffc0cb; */
    /* border: 1px dashed black; */
}

.backg_grey {
    background-color: #d3d3d3;
    padding: var(--padding-container); 
}

/* big_block */
.big_block {
    min-height: 1000px;
    text-align: center;
    /* background-color: #228b22;
    border: 1px dashed black; */
}
.big_block>p {
    padding: 30px;
}

.big_block>img {
    width: 100%;
    background-size: cover;
}
.bb-button {
    background-color: #8ea1e1;
    color: white;
}

/* footer */
.backg_darkgrey {
    background-color: #23272a;
    padding: var(--padding-container);
}

.f_card {
    width: 25%;
    /* height: 400px; */
    /* background-color: #f08080; */
    /* border: 1px dashed black; */
    
}

.s_card {
    width: 75%;
    /* height: 400px; */
    /* background-color: #20b2aa; */
}

.sub_card {
    width: 25%;
    /* height: 400px; */
    /* border: 1px dashed black; */
}


.border_line {
    border-bottom: 1px solid #d6d7d7;
    margin: 20px auto;
}


footer>.last_footer {
    /* background-color: #7fffd4; */
    padding: 10px;   
}

footer {
    min-height: 80px;
}

.card_container {
    color: white;
}

.titolo_card {
    color:#7187d8;
}


#bandiera_italia {
    height: 20px;
}
.brand_loghi {
    margin-top: 20px;
}
.brand_loghi>span {
    padding-right: 30px;
}

.footer_link {
    list-style-type: none;
    line-height: 50px;
}